.nav_main_logo {
    background-color: var(--bgcolor);
}
.nav_logo {
    font-size: 4rem;
    font-weight: bolder;
    text-decoration: underline;
    color: #000;
}
.logo_split {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 4rem;
    color: var(--primary-color);
    background-color: transparent !important;
    text-decoration: underline;
}

.navbar_bg {
    background-color: var(--bgcolor);
    padding: .5rem 0;
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    transition: all .3s ease;
}


.nav_link {
    transition: all .4s ease;
}
.nav_link:hover {
    color: var(--main-text-color) !important;
}

.nav_link a {
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: 600;
    border-radius: 2px;
    transition: all .4s ease;
}
.nav_link a:hover {
    background-color: rgba(0,0,0,0.05);
}

  

.btn_style {
    padding: .5rem 2.5rem;
    font-size: 1.6rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
    background-color: var(--primary-color);
    border-radius: 4rem;
    border: .1rem solid var(--primary-color);
    transition: all .4s ease;
}
.btn_style:hover {
 background-color: transparent;
 border: .1rem solid var(--primary-color);
 color: var(--primary-color);
}
.signIn_btn {
    color: var(--primary-color);
    background-color: transparent;
    transition: all .4s ease;
}
.signIn_btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
    outline: none;
}

@media screen and (max-width: 767.9px) {
    .navbar_bg {
        background: var(--bgcolor);
        border-radius: 50px 50px 0 0;
        box-shadow: 2px 4px 6px rgba(0,0,0, .07);
    }
    .nav_link {
        padding: 1rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .nav_link a {
        margin-bottom: 20px;
    }
    .main_btn {
        justify-content: center;
        align-items: center;
    }
    .nav_toggle {
        margin-top: 1rem;
    }
}