.banner_bg {
    background-color: var(--bgcolor);
    padding: 0 0 5rem 0;
}

.banner_main_title {
    font-size: 4rem;
}

.main_dec_para {
    font-size: 1.6rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.input_group {
    position: relative;
}

.input_group input::placeholder {
    color: var(--primary-color);
}

.form_control_text {
    position: absolute;
    height: 4.5rem;
    border: none;
    outline-style: none;
    font-size: 1.4rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border: .5px solid var(--primary-color);
}

.input_group_button {
    position: absolute;
    right: 13.5%;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 50px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease;
}

.input_group:hover .input_group_button {
    transform: scale(1.25);
}


.payment_img img {
    width: 60%;
    border-radius: 5px 70px 5px 5px;
}


@media screen and (max-width: 767.9px) {
    .payment_img {
        margin-top: 5rem;
    }
}